@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Syne+Mono&display=swap');

body{
background: #303030;   
display: flex;
justify-content: center;
margin-top: 200px;
font-family: 'Poppins', sans-serif;
}

/* .container .formulario{
    position: relative;
    top: 200px;
} */
.container .formulario form{
    position: relative;
    top: 100px;

}


.container .formulario .input-box{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .formulario .input-box input{
    border: 2px #dcdcdc solid;
    border-radius: 10px;
    height: 30px;
}
.container .formulario .input-box label{
    font-size: 24px;
}

.container .formulario .input-box-button {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .formulario .input-box-button input{
    height: 50px;
    border-radius: 7px;
    border: none;
    background: #7096ca;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

.container .formulario h2{ 
    position: relative;
    display: flex;
    justify-content: center;
    color: #1F1F1F;
    
}

.container{
    background: #ffffff;
    height: 500px;
    width: 500px;
    border-radius: 20px;
}

